<!doctype html>
<html>

<head>
  <title> {% block title %}{% endblock %} - Site Coloc' </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  <h1>Coloc</h1>
</header>

<nav>
  <h2> Liens </h2>
  <ul>
    {% if g.user %}
    <li><a href="{{ url_for('main.index'     ) }}"> Accueil                    </a></li>
    <li><a href="{{ url_for('plantes.plantes') }}"> Petites plantes            </a></li>
    <li><a href="{{ url_for('courses.courses') }}"> Liste de courses           </a></li>
    {% if g.user.superuser %}
    <li><a href="{{ url_for('auth.register'  ) }}"> Enregistrer un utilisateur </a></li>
    {% endif %}
    <li><a href="{{ url_for('auth.logout'    ) }}"> Se déconnecter             </a></li>
    <li><span> Connecté : {{ g.user['username'] }}</span></li>
      {% else %}
    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
      {% endif %}
  </ul>
</nav>

<section id="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% block content %}{% endblock %}

</section>

<footer>
</footer>

</body>
</html>
