<!doctype html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
  <title> {% block title %}{% endblock %} - Site Coloc' </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>

<body id="page_top">

<nav id="main_navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#page_top">84 Pasteur</a>
    <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if g.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.index'     ) }}"> Accueil </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('plantes.plantes') }}"> Petites plantes            </a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('courses.courses') }}"> Liste de courses           </a>
        </li>
        {% if g.user['superuser'] %}
        <li class="nav-item">
          <a href="{{ url_for('auth.register'  ) }}"> Enregistrer un utilisateur </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="{{ url_for('auth.logout'    ) }}"> Se déconnecter             </a>
        </li>
        <li class="nav-item">
        <span> Connecté : {{ g.user['username'] }}</span></li>
        {% else %}
        <li class="nav-item">
          <a href="{{ url_for('auth.login') }}">Log In</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<div id="main_contents" class="container">

  <div class="row" id="header">
    {% block header %}
    {% endblock %}
  </div>

  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning" role="alert">
    {{ message }}
  </div>
  {% endfor %}

  <div class="row" id="content">
    {% block content %}
    {% endblock %}
  </div>

</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ url_for('static', filename='jquery.js')    }}"></script>
  <script src="{{ url_for('static', filename='popper.js')    }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
</body>
</html>
